

<f:comment>Template for the infoWindow in AjaxSearch</f:comment>


info = '<div class="infoWindow">';
	info += '<div>AjaxLocationListInfoWindow</div>';

	<f:for each="{location.images}" as="image">
		info += '<img src="/fileadmin/{image.originalResource.originalFile.identifier}"  width="50" alt=""/>';
	</f:for>

<f:comment>
	info += '<a href="?id={settings.detailsPageId}&tx_myttaddressmap_singleview[action]=singleView&tx_myttaddressmap_singleview[locationUid]={location.uid}"><strong>{location.name}</strong></a>';
</f:comment> 
    info += '<form  action="/?id={settings.detailsPageId}" method="POST">';
    info += '<input class="hidden" name="tx_myttaddressmap_singleview[locationUid]" value="{location.uid}">';
    info += '<button class="submitButton" type="submit">{location.first_name} {location.name}</button>';
    info += '<form>';
	
	info += "<div class='categories'>{location.categories}</div>";

	info += "<div><f:format.raw>{location.infoWindowAddress}</f:format.raw></div>";

	info += "<div>{location.zip} {location.city}</div>";
	info += "<div>{location.phone}</div>";

	<f:comment>
	////////// use this with caution ///////////
	info += '<f:format.htmlentitiesDecode>{location.description}</f:format.htmlentitiesDecode>';
	</f:comment>
	info += '</div>';

	infoWindow[{i}] = new google.maps.InfoWindow({
	  content: info
	});

	google.maps.event.addListener(marker[{i}], "click", function() {
		infoWindow[{i}].open(map,marker[{i}]);
});




