


<script type="text/javascript">
	var myLatLng = new google.maps.LatLng({startingPoint.lat},{startingPoint.lon});

//icon: "/typo3conf/ext/myttaddressmap/Resources/Public/Icons/pointerRed.png"

	startMarkerIcon = document.createElement("img");
	startMarkerIcon.src = "/typo3conf/ext/myttaddressmap/Resources/Public/MapIcons/pointerRed.png";


	var startMarker = new google.maps.marker.AdvancedMarkerElement({
					                position: myLatLng,
					                map: map,
					                title: '<f:translate key="youAreHere" />',
					                });

	startMarker.append(startMarkerIcon);

//	startMarker.addListener('click', toggleBounce);
					                

	mapBounds.extend(myLatLng);
	if (mapBounds!= undefined) {
		map.fitBounds(mapBounds);
	}

/*
	function toggleBounce() {
	  if (startMarker.getAnimation() !== null) {
	    startMarker.setAnimation(null);
	  } else {
	    startMarker.setAnimation(google.maps.Animation.BOUNCE);
	  }
	}
*/

</script>


